tobolsk_colorized.jpg filter=lfs diff=lfs merge=lfs -text
emir_colorized.jpg filter=lfs diff=lfs merge=lfs -text
onion_church_colorized.jpg filter=lfs diff=lfs merge=lfs -text
church_colorized.jpg filter=lfs diff=lfs merge=lfs -text
lady_colorized.jpg filter=lfs diff=lfs merge=lfs -text
self_portrait_colorized.jpg filter=lfs diff=lfs merge=lfs -text
three_generations_colorized.jpg filter=lfs diff=lfs merge=lfs -text
cathedral_colorized.jpg filter=lfs diff=lfs merge=lfs -text
harvesters_colorized.jpg filter=lfs diff=lfs merge=lfs -text
icon_colorized.jpg filter=lfs diff=lfs merge=lfs -text
melons_colorized.jpg filter=lfs diff=lfs merge=lfs -text
monastery_colorized.jpg filter=lfs diff=lfs merge=lfs -text
sculpture_colorized.jpg filter=lfs diff=lfs merge=lfs -text
train_colorized.jpg filter=lfs diff=lfs merge=lfs -text
